// ======== Transitions ========
$base-transition: all 0.3s ease-in-out;


// ======== Colors ========
// Blue
$primary-blue-1: rgba(#a4c2f4, 1);

// Purple
$primary-purple-1: rgba(#45436A, 1);
$primary-purple-2: rgba(rgb(99, 97, 140), 1);

// White
$primary-white-1: rgba(#f3f3f3, 1);
$primary-white-2: rgba(#eeeeee, 1);
$primary-white-3: rgba(#a3a3a3, 0.8);

// Black
$primary-black-1: rgba(#121212, 1);
$primary-black-2: rgba(#404040, 1);
$primary-black-3: rgba(#525252, 1);


// ======== Fonts ========
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

$font-size-0: 10px;
$font-size-1: 13px;
$font-size-2: 15px;
$font-size-3: 20px;
$font-size-4: 25px;
$font-size-5: 30px;
$font-size-6: 35px;
$font-size-7: 40px;
$font-size-8: 45px;
$font-size-9: 50px;