@import 'styles/global.scss';

.componentContainer {
    margin: 75px 0;
    transition: $base-transition;
}

.withSideDrawer {
    padding-left: 75px;
}

.sideDrawerOpen {
    padding-left: 200px;
    transition: $base-transition;
}

.loadingLogo {
    height: 10em;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
